{{> header}}
<center>
    <h3 style="text-align: center;color:white;font-style: italic;">Department List</h3>
    {{#if success }}
    <div class="alert alert-success text-green" role="alert"
        style="max-width: 350px;height:auto;font-size:smaller;font-weight:bold;">
        {{success}}
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger text-red" role="alert"
        style="max-width: 300px;height:auto;font-size:smaller;font-weight:bold;">
        {{error}}
    </div>
    {{/if}}
</center><br>
<table class="table table-hover table-sm css-serial " style="width: 65%">
    <thead class="thead-dark">
        <tr style="text-align: center;">
            <th>#</th>
            <th>Code</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr style="text-align: center;font-size: 13px;">
            <td></td>
            <td>{{this._id}}</td>
            <td>{{this.deptName}}</td>
            <td>
                <a href="/department/{{this._id}}" onclick="return confirm('Are you sure to update this record ?');"><i
                        class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                {{!-- <a href="/employee/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg"
                        aria-hidden="true"></i></a> --}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<nav aria-label="Page navigation example" class="pagination">
    <ul>
        {{#paginate current=current pages=pages}}
        {{/paginate}}
    </ul>
</nav>