{{> header}}
<div class="content">
    <center>
        {{!-- <h3 id="title">{{viewTitle}}</h3> --}}
        <h3 style="font-style: italic;">Add Employee</h3>
        {{#if success }}
        <div class="alert alert-success text-green" role="alert" style="max-width: 300px;height:50px;font-size:small;font-weight:bold;">
            {{success}}
        </div>
        {{/if}}
        {{#if error}}
        <div class="alert alert-danger text-red" role="alert" style="max-width: 500px;height:auto;font-size:small;font-weight:bold;">
            {{error}}
        </div>
        {{/if}}
    </center>
    <center>
    <form action="/employee" method="POST" autocomplete="off" id="add_emp" style="margin-top: 10px;">
                <input type="hidden" name="_id" value="{{employee.emp_id}}">
        {{!-- <div style="float:left;margin-left:40px;"> --}}
            <input type="text" class="form-control" id="name" name="empName" placeholder="Enter Employee Name"
                value="{{Data.empName}}">
            {{#if errors.empName }}
            <p>*{{ errors.empName.msg }}</p>
            {{/if}}
        {{!-- </div> --}}
        {{!-- <div style="float:left;margin-left:35px;margin-bottom:12px"> --}}
            <input style="margin-top:10px" type="text" class="form-control" id="addr" name="address" placeholder="Enter Employee Address"
                value="{{Data.address}}">
            {{#if errors.address }}
            <p>*{{ errors.address.msg }}</p>
            {{/if}}
        {{!-- </div> --}}
        {{!-- <div style="float:left;margin-left:40px"> --}}
            <input style="margin-top:10px" type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address"
                value="{{Data.email}}">
            {{#if errors.email }}
            <p>*{{ errors.email.msg }}</p>
            {{/if}}
        {{!-- </div> --}}

        {{!-- <div style="float:left;margin-left:35px;margin-bottom:12px"> --}}
            <input style="margin-top:10px" type="text" class="form-control" id="mob" name="mobile" placeholder="Enter Mobile"
                value="{{Data.mobile}}">
            {{#if errors.mobile }}
            <p>*{{ errors.mobile.msg }}</p>
            {{/if}}
        {{!-- </div><br> --}}
        {{!-- <div style="float:left;margin-left:40px"> --}}
            <input style="margin-top:10px;margin-bottom:10px;" type="text" class="form-control" id="sal" name="salary" placeholder="Enter Salary"
                value="{{Data.salary}}">
            {{#if errors.salary }}
            <p>*{{ errors.salary.msg }}</p>
            {{/if}}
        {{!-- </div> --}}
        <div hidden class="form-group " id="dept">
            <label>Department</label>
            <input type="text" readonly="true" class="form-control" id="deptBox" name="depat" placeholder="Department"
                value="{{Data.depat}}">
        </div>
        {{!-- <div style="float:left;margin-left:35px;margin-bottom:45px"> --}}
            <label style="font-size:small;">Select Department</label>
            <select style="font-size:10px;font-weight:bold;height:28px" class="DselectBox" name="dept" id="selector"
                onchange="selectChanger();">
                {{!-- <option selected="selected">Choose Department...</option> --}}
                <option hidden="hidden" selected="selected" value={{Data.dept}}>{{Data.depat}}</option>

                {{#each list}}
                <option value={{this._id}} style="font-size:12px;font-weight:bold;">{{this.deptName}}</option>
                {{/each}}
            </select>
            {{#if errors.dept }}
            <p>*{{ errors.dept.msg }}</p>
            {{/if}}
        {{!-- </div> --}}
        <center>
            <div>
                <button style="margin-top: 10px;" type=" submit" class="btn btn-info"><i class="fa fa-database"></i>&nbsp;Submit</button>
            </div>
        </center>

    </form>
    </center>
</div>