{{> header}}
<center>
    <h3 style="text-align: center;color:white;font-style: italic;">Employee List</h3>
    {{#if success }}
    <div class="alert alert-success text-green" role="alert"
        style="max-width: 350px;height:auto;font-size:smaller;font-weight:bold;">
        {{success}}
    </div>
    {{/if}}
    {{#if empDel }}
    <div class="alert alert-warning text-green" role="alert"
        style="max-width: 350px;height:auto;font-size:smaller;font-weight:bold;">
        {{empDel}}
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger text-red" role="alert"
        style="max-width: 300px;height:auto;font-size:smaller;font-weight:bold;">
        {{error}}
    </div>
    {{/if}}
</center>
<br>
<table class="table table-hover table-sm css-serial" style="width: 80%">
    <thead class="thead-dark">
        <tr style="text-align: center;">
            <th>#</th>
            <th hidden="true">Code</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr style="text-align: center;font-size: 13px;">
            <td></td>
            <td hidden="true">{{this._id}}</td>
            <td>{{this.empName}}</td>
            <td>{{this.address}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.salary}}</td>
            <td>{{this.department}}</td>
            <td>
                <a href="/employee/{{this._id}}" onclick="return confirm('Are you sure to update this record ?');"><i
                        class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg"
                        aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<nav aria-label="Page navigation example" class="pagination">
    <ul>
        {{#paginate current=current pages=pages}}
        {{/paginate}}
    </ul>
</nav>