{{> header}}
<div class="content">
    <center>
        <h3 id="title" style="font-style: italic;">Update Employee</h3>
    </center>
    <center>
        <br>
    <form action="/empUpdate" method="POST" onsubmit="return ValidateEmpUpdate()" autocomplete="off" id="update_emp">
        {{#each employee}}
        <input type="hidden" name="id" value="{{this._id}}">
        {{!-- <div style="float:left;margin-left:40px"> --}}
            <input type="text" class="form-control" id="empName" name="empName" placeholder="Enter Employee Name"
                value="{{this.empName}}">
        {{!-- </div> --}}
        {{!-- <div style="float:left;margin-left:35px;margin-bottom:12px"> --}}
            <input style="margin-top:15px" type="text" class="form-control" id="addr" name="address" placeholder="Enter Employee Address"
                value="{{this.address}}">
        {{!-- </div> --}}
        {{!-- <div style="float:left;margin-left:40px"> --}}
            <input style="margin-top:15px" type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address"
                value="{{this.email}}">
        {{!-- </div> --}}
        {{!-- <div class="form-row"> --}}
            {{!-- <div style="float:left;margin-left:35px;margin-bottom:12px"> --}}
                <input style="margin-top:15px" type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter Mobile"
                    value="{{this.mobile}}">
            {{!-- </div> --}}
            {{!-- <div style="float:left;margin-left:40px"> --}}
                <input style="margin-top:15px;margin-bottom:15px;" type="text" class="form-control" id="salary" name="salary" placeholder="Enter Salary"
                    value="{{this.salary}}">
            {{!-- </div> --}}
            <!--<div class="form-group col-md-6" id="dept">
                        <label>Department</label>
                        <input type="text" readonly="true" class="form-control" id="deptBox" name="depat"
                            placeholder="Department" value="{{this.department}}">
                    </div>-->
            {{!-- {{/each}} --}}
            {{!-- <div style="float:left;margin-left:35px;margin-bottom:45px"> --}}
                <label style="font-size:small">Select Department</label> <select
                    style="font-size:10px;font-weight:bold;height:28px" class="DselectBox" name="dept" id="selector"
                    onchange="selectChanger();">
                    <option hidden>Choose Department...</option>
                    <option value={{this.dept_id}} hidden="hidden" selected="selected"
                        style="font-size:12px;font-weight:bold;">{{this.department}}</option>
                    {{/each}}
                    {{#each list}}
                    <option value={{this._id}} style="font-size:12px;font-weight:bold;">{{this.deptName}}</option>
                    {{/each}}
                </select>
            {{!-- </div> --}}

            {{!--
        </div> --}}
        <div>
            <center><button style="margin-top: 15px;" type="submit" class="btn btn-info"><i style="color:white" class="fa fa-edit"
                        aria-hidden="true"></i>&nbsp;Update</button></center>
            {{!-- <a class="btn btn-secondary" href="/employeeList"><i class="fa fa-list-alt"></i> View All</a>
            --}}
        </div>
    </form>
    </center>
</div>