<!-- include header -->
{{> header}}
<!-- /include header -->
<center>
    <h3 style="text-align: center;color:white;font-style: italic;">User Log</h3>
</center><br>
<table class="table table-hover table-sm css-serial my-3" style="width: 80%">
    <thead class="thead-dark">
        <tr style="text-align: center;font-size:smaller;">
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Host Name</th>
            <th>IP Address</th>
            <th>LogIn At</th>
            <th>LogOut At</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr style="text-align: center;font-size:10px;font-weight:bold;" class="align-middle">
            <td></td>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            <td>{{this.host}}</td>
            <td>{{this.ipAddr}}</td>
            <td>{{this.loginAt}}</td>
            <td>{{this.logoutAt}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<nav aria-label="Page navigation example" class="pagination">
    <ul>
        {{#paginate current=current pages=pages}}
        {{/paginate}}
    </ul>
</nav>
{{!-- </div> --}}
<!-- include footer -->
{{> footer}}
<!-- /include footer -->
<!--</body>
</html>-->